
{% extends 'base.html.twig' %}

{% block title %}Contact - USAGI{% endblock %}

{% block body %}
<section class="contact-container">
    <h1>Contact</h1>
    <div>
        <p>{{'sav'|trans}}</p>
        <p>{{'sav2'|trans}} <a href="mailto:usagi.contact.fr@gmail.com" title="Envoyer un mail">usagi.contact.fr@gmail.com</a></p>
    </div>
</section>
{% endblock %}
